:root {
    --bs-primary: #329b47;
    --bs-link-color: #329b47;
    --bs-primary-rgb: 50, 155, 71;
}

.nav-pills {
    --bs-nav-pills-link-active-bg: #329b47;
}

.nav {
    --bs-nav-link-color: black;
}

.btn-outline-primary {
    --bs-btn-color: #329b47;
    --bs-btn-border-color: #329b47;
    --bs-btn-hover-bg: #329b47;
    --bs-btn-hover-border-color: #329b47;
    --bs-btn-active-bg: #329b47;
    --bs-btn-active-border-color: #329b47;
    --bs-btn-disabled-color: #329b47;
    --bs-btn-disabled-border-color: #329b47;
}

.btn-primary {
    --bs-btn-bg: #329b47;
    --bs-btn-border-color: #329b47;
    --bs-btn-disabled-bg: #329b47;
    --bs-btn-disabled-border-color: #329b47;
}

.btn-outline-primary {
    --bs-btn-color: var(--bs-body-color);
    --bs-btn-border-color: #ced4da;
    --bs-btn-bg: white;
}

* {
    font-family: Roboto, serif;
    font-size: 14px;
}

.btn-controllers .btn, .btn-grey {
    width: 42px;
    height: 42px;
    background-color: #eaeaea;
}

.form-check-input:checked {
    background-color: #329b47;
    border-color: #329b47;
}

/* Активный блок статистики */
.block-active {
    border-color: #329b47 !important;
}

.block-active::before {
    content: "";
    position: absolute;
    background: url(/img/icons/checked.svg) no-repeat 100% 100%;
    width: 100%;
    height: 100%;
}

/* Прогресс бар для блоков */
.block-bar {
    width: 3px;
    height: 16px;
    display: inline-block;
    position: relative;
}

.block-bar span {
    width: 3px;
    display: block;
    position: absolute;
    bottom: 0;
}


.moments {
    height: 442px;
}

.form-check-label {
    line-height: 25px;
}

.form-switch .form-check-input {
    width: 2.3em !important;
    height: 1.35em !important;
    background-color: #c4c4c4;
    border-color: #c4c4c4;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='white'/%3e%3c/svg%3e");
}

.form-check-input:checked {
    background-color: #329b47;
}

.form-switch .form-check-input:focus {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='white'/%3e%3c/svg%3e");
    border-color: #c4c4c4;
    box-shadow: none;
}

.score-input {
    width: 42px;
}

/* Helpers */
.border-dashed {
    border-style: dashed !important;
    border-color: #c4c4c4 !important;
}

.fs-12 {
    font-size: 12px;
}

.mt-44 {
    margin-top: 44px;
}

.pe-16 {
    padding-right: 16px;
}

.ps-16 {
    padding-left: 16px;
}